.input 
    input 
        font-size       : 14px 
        color           : lighten(color[0], 20%)
        border          : lighten(color[0], 80%)
        &::placeholder 
            font-style  : italic
        &:focus::placeholder
            color       : transparent