.users
    &__list 
        display             : flex 
        justify-content     : space-between
        align-items         : flex-start  
        flex-flow           : row wrap 
        &:hover 
            .user 
                opacity     : .5
                &:hover 
                    opacity : 1
    &__item 
        flex                : 1 1 130px
        padding             : 15px
        text-align          : center 