
.header
    &__title  a
        display         : block
        padding         : 20px 0 0
        font-size       : 22px 
        font-weight     : bold 
        text-transform  : uppercase
        text-align      : center
        color           : lighten(color[0], 80%)
        &:before 
            font-icon   : url('./icons/github.svg')
            font-size   : 30px 
            display     : block