.repos-list
    margin          : 0 -15px

    &__list 
        margin      : 0 

    &__item 
        padding                 : 15px 0

    &__title 
        display             : block 
        padding             : 50px 0 0
        font-size           : 22px 
        font-weight         : bold 
        color               : color[0]
      