#app 
    display             : block  
    width               : 90% 
    min-height          : 100vh
    margin              : 0 auto

.link 
    display             : inline-block 
    padding             : 5px 20px
    border              : solid 1px lighten(color[0], 80%)
    border-radius       : 4px

    font-size           : 14px
    font-weight         : regular
    color               : lighten(color[0], 80%)

    